<div class="contenedor">
    <h1>Lista de Estudiantes</h1>
    <button  *ngIf="!agregar" (click)="agregarEstudiante()">Crear nuevo estudiante</button>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let estudiante of estudiantes">
            <td class="atributo">{{estudiante.id}}</td>
            <td class="atributo">{{estudiante.nombre.primerApellido}} {{estudiante.nombre.primerNombre}}</td>
            <td class="atributo">{{estudiante.email}}</td>
            <td class="atributo"><button (click)="modificarEstudiante(estudiante.id, estudiante)">Modificar</button></td>
            <td class="atributo"><button (click)="eliminarEstudiante(estudiante.id)">-</button></td>
        </tr>
    </table>

</div>